<div class="p-4 mt-1 mb-3 bg-danger rounded-3" >
    <h1 style= "color: rgb(247, 185, 15) " >Fallo al Registrarse:</h1>
    <h3 style= "color: rgb(243, 247, 15) " >Verifique los datos ingresados</h3>
    <input class = "btn btn-warning mt-3 mb-5" type="button" value="Volver" onClick="history.go(-1);">
</div>