<div class="p-4 mt-1 mb-3 bg-light rounded-3" >
    <h1 style= "color: rgb(142, 15, 247) " >Registro de Usuario</h1>
    <div class="p-4 mt-1 mb-3 bg-dark rounded-3">
        <form action= "/api/session/register" method="post">
            <div class="form-group">
            <label for="user">E-mail:</label>
            <input type="text" id="EMAIL" class="form-control" name="EMAIL" placeholder="Ingrese su Email" pattern=[A-Z a-z 0-9]{3,20} required>
            </div>
            <label for="user">Contraseña:</label>
            <input type="password" id="PWD" class="form-control" name="PWD" placeholder="Ingrese una Contraseña" required>
            </div>
            <button class = "btn btn-info mt-3 mb-5"type="submit">Registrase</button>
        </form>
        <div>
            <input class = "btn btn-warning mt-3 mb-5" type="button" value="Ya estoy Registrado" onClick="window.location.href='/login'">
        </div>
    </div>
</div>